

{% extends "donacion/base.html" %}
{% load staticfiles %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</p>

<div class="row justify-content-center">	
		<div	class="col-12">
			
			<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">Correo electrónico:</label> <input id="id_email"  class=" rounded" type="email" placeholder="" name="email" required />
    </p>
    <br>
    <p><input type="submit" class="btn btn-platzi" value="Recuperar contraseña" /></p>
</form>

		</div>

</div>	
{% endblock %}

