{% extends "donacion/base.html" %}
{% load i18n static %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
{% block object-tools %}
{% endblock %}
{% if validlink %}


<p class="h4 font-weight-bold">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
{% if form.errors %}
         <div class="alert alert-danger h-10">
             
        <p class="font-weight-bold ">
           {{ form.new_password2.errors }}
        </p>
         </div>
    {% endif%}

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-group field-password1">
        
        <input type="password" class="form-group border rounded" name="new_password1" placeholder="Nueva Password" id="id_new_password1">
        
    </div>
    <div class="form-group field-password2">
        <input type="password" class="form-group border rounded" name="new_password2" placeholder="Confirmar Password" id="id_new_password2">
      
        
    </div>
    <input type="submit" class="btn btn-platzi" value="{% trans 'Change my password' %}">
</fieldset>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}


{% block footer %}
{% endblock %}