
{% extends "website/inicio.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block tittle %} <title> MISION Y VISION</title>{% endblock %}
{% block content %}

<div class="container " >
  <h1 class="text-danger ">Mision</h1>
</div>
<div class="container" >
<div class="row  ">
  
  <div class=" col-lg-8">
     <b class=" ">Albergar a los acompañantes de los pacientes hospitalizados de los hospitales públicos y privados de nuestra ciudad, quienes no cuentan con los recursos económicos suficientes para solventar sus necesidades primarias tales como: alojamiento, aseo personal, alimentación. Ofrecer un servicio de alojamiento a bajo costo en un ambiente digno, agradable y de bienestar con buen trato, que garantice apoyo social, emocional, psicológico y espiritual con atención primaria en salud si lo requiere, durante el tiempo que su pariente se encuentre hospitalizado, creando una conciencia ambiental, que todos los desechos que generen y sean debidamente reciclados.

</b>



  </div>
  <div class=" col-lg-4">
     <img class="rounded  img-fluid img-thumbnail " style="height: 80%; ;width: 100%;" src="{% static 'img/tacita/img6.jpg' %}">
     <figcaption class="figure-caption text-center">Martha Gallegos con uno de los pacientes del hospital Franccisco de Icaza Bustamante </figcaption>


  </div>

  </div>
</div>

<br>


 <h4 class=" text border border-danger"></h4>


<div class="container ">
  <h1 class="text-danger ">Vision</h1>
</div>
<div class="container" >
  <div class="row  justify-content-center">
   
  <div class="  ">
    <figure >
     <img class="img-fluid img-thumbnail "  style="height: 400px; ;width: 900px;" src="{% static 'img/tacita/img7.jpg' %}">
     <figcaption class="figure-caption text-center">Dra. Rebeca Medina en una de las brigadas medicas.</figcaption>
  </figure>
  </div>
     
</div>

  <div class="row  ">
  <div class=" col-lg-12 pb-4">
     <b class="">Ser un organismo rector y promotor de la asistencia social, consolidándose como una institución de gran calidad humana, que garantice descanso y servicio a los acompañantes de los pacientes hospitalizados en los hospitales públicos y privados de la ciudad de Guayaquil, realizando esta labor con diligencia, profesionalismo y transparencia, brindando alojamiento, apoyo espiritual, psicológico, emocional, social, atención primaria en salud y cuidando responsablemente el medio ambiente.

  <br><br>

La Fundación MISIÓN SOLIDARIA TACITA CALIENTE basa su acción en los siguientes principios:

  <br><br> <br><br>

1. Demostrar el amor y las enseñanzas de Jesucristo mediante la acción
 <br><br>
 2. Abogar o velar por la causa de todos aquellos que necesitan un Centro de Alojamiento Transitorio
 <br><br>
 3. Proporcionarles apoyo psicológico, social, emocional y espiritual a los acompañantes de los pacientes hospitalizados en las diferentes casas de salud de la ciudad.
 <br><br>
 4. Brindar ayuda por medio de la entrega de alimentos preparados.
 <br><br>
 5. Ofrecer servicios hospitalarios y médicos ambulatorios.
 <br><br>
 6. Transporte
 <br><br>
 7. Involucrar a diferentes instituciones públicas y privadas, nacionales e internacionales para lograr alianzas estratégicas.
 <br><br>
 8. Orientar a la comunidad en la recuperación de valores
 <br><br>
 9. Promover la dignidad de los actores vulnerables con programas de capacitación permanente.
 <br><br>
 10. Fomentar capacitando y financiamiento a emprendedores con proyectos transformadores y sostenibles, logrando ser semilleros empresariales.

</b>



  </div>

  </div>
</div>

 



{% endblock %}

{% block comentario %}
{% endblock %}