
{% extends "website/inicio.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block tittle %} <title> PROGRAMAS EN EJECUCION</title>{% endblock %}
{% block content %}



<section id="speakers" class="mt-4 text-dark">
      <div class="container">
        <div class="row">
          <div class="col text-center text-uppercase">
            <small class="text-danger">Conoce los</small>
            <h2 class="text-danger">Programas</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/tacita/img8.jpg' %}" alt="Foto de Causa y efecto">
              <div class="card-body">
                <div class="badges">
                  <span class="badge badge-warning">Adolescentes</span>
                  <span class="badge badge-info">Vecinos</span>
                </div>
                <h5 class="card-title">Causa y Efecto.</h5>
                <p class="card-text">Seminarios Motivacionales  gratuitas dirigidas  a los adolescentes, jóvenes estudiantes de los colegios de nuestro pais y padres de familia.
</p><br>

Para mayor información comunicarse con <strong>Srta. Mónica Santos Zambrano</strong> <br>

Of.: 6029930 - 2202873  Cel. 0984812273-0998894140

              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/tacita/img9.jpg' %}" alt="Foto de Sacha">
              <div class="card-body">
                <div class="badges">
                  <span class="badge badge-warning">Empresas</span>
                  <span class="badge badge-info">Pymes</span>
                </div>
                <h5 class="card-title">Alto Rendimiento.</h5>
                <p class="card-text">Conferencias  interactivas, coaching, PNL.
Tenemos varios temas para desarrollar e impartir.</p><br>

Para mayor información comunicarse<br>

<strong>Srta. Martha Gallegos Duran</strong> <br>Cel.: 0980382038

Of.: 6029930 - 2202873
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/tacita/img22.jpg' %}" alt="Foto de Sacha">
              <div class="card-body">
                <div class="badges">
                  <span class="badge badge-secondary">Innovacion</span>
                  <span class="badge badge-danger">Tips</span>
                </div>
                <h5 class="card-title">Revista Plenitud</h5>
                <p class="card-text">Es una revista con temas de actualidad con el fin de contribuir a la construccion de una sociedad con principios y valores cristianos; distribuccion gratuita con un tiraje de 10.000 ejemplares.
 <br><br>

Venta de  espacio publicitario comunicarse<br>

<strong>Srta. Martha Gallegos </strong>Cel. 0980382038<br>

<strong>Ec. Gabriel Rivadeneira </strong><br>Cel. 0984527438 Oficina  6029930 - 2202873</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/tacita/img23.jpg' %}" style="height: 250px;">
              <div class="card-body">
                <div class="badges">
                  <span class="badge badge-danger">Vida Nueva</span>
                </div>
                <h5 class="card-title">Transforma2</h5>
                <p class="card-text">Es un programa dirigido a jovenes con reuniones en los hogares  compartiendo reflexiones acerca de la palabra de Dios, dinámicas, apoyo psicologico y coffe break; se realiza ademas campamentos y retiros.
                   <br><br>

                  Para mayor informacion <br>
                  <strong>
                  Ing. Jorge Viscaino Caiche</strong> <br>Cel. 0939992377 Oficina. 6029930-2202873</p>
              </div>
            </div>
          </div>
           <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/tacita/img24.jpg' %}" alt="Foto ">
              <div class="card-body">
                <div class="badges">
                  <span class="badge badge-secondary">Conyuge</span>
                  <span class="badge badge-danger">Compromiso</span>
                </div>
                <h5 class="card-title">Aprueba de Fuego</h5>
                <p class="card-text">Es un programa dirigido a matrimonios que deseen fortalecer sus relaciones o dar soluciones a problemas identificados por las parejas, con la ayuda del Espíritu Santo y el apoyo de nuestros especialistas. 
 <br><br>

Para mayor información comuniquese:<strong><br>Ec. Gabriel Rivadeneira </strong><br>Cel. 0984527438 Oficina  6029930 - 2202873</p>
               <br><br>

              </div>
            </div>
          </div>





        </div>
      </div>
    </section>
    <!-- /Speakers -->



{% endblock %}



{% block comentario %}
{% endblock %}